.tabs{
    width: 1170px;
    display: inline;
}
.tab1{
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    display: flex;
    width: 203px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}
.tab2{
    margin: 0 auto;
    display: flex;
    width: 184px;
    height: 40px;
    align-items: center;
    
}
.tab3{
    margin: 0 auto;
    width: 184px;
    height: 40px;
    justify-content: center;
    align-items: center;
    
}
.picture{
    display: inline-block;
    width: 470px;
    height: 500px;
    
    

}
.Download{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    background: #EC7979;
    width: 270px;
    height: 58px;
    text-decoration: none
}